
<form class="formgrid grid" [formGroup]="this.formulario">
    <div class="field col-12" *ngIf="this.banderaEstaEditando">
        <div class="p-inputgroup w-full mb-5">
            <span class="p-inputgroup-addon"><em class="pi pi-code"></em></span>
            <div class="p-float-label">
                <input type="text" class="w-full" pInputText disabled="true" [value]="this.cuentaCobroEditar?.id">
                <label>ID</label>
            </div>
        </div>
    </div>
    <div class="field col-12 md:col-4">
        <div class="p-inputgroup w-full">
            <span class="p-inputgroup-addon"><em class="pi pi-user"></em></span>
            <div class="p-float-label">
                <input type="text" class="w-full" pInputText formControlName="numero">
                <label>Número</label>
            </div>
        </div>
        <div *ngIf="this.numeroControl.hasError('required') && (this.numeroControl.touched || this.numeroControl.dirty)"
            class="p-error block">
            <small>
                El campo es requerido
            </small>
        </div>
        <div *ngIf="this.numeroControl.hasError('pattern') && (this.numeroControl.touched || this.numeroControl.dirty)"
        class="p-error block">
        <small>
            No coincide con el patrón establecido
        </small>
    </div>

    </div>
    <div class="field col-12 md:col-4">
        <div class="p-float-label p-fluid">
            <p-dropdown  appendTo="body" placeholder="Seleccione..." [options]="estados" class="w-full" formControlName="estado"></p-dropdown>
            <label>Estado</label>
        </div>
        <div *ngIf="this.estadoControl.invalid && (this.estadoControl.touched || this.estadoControl.dirty)"
            class="p-error block">
            <small>
                El campo es requerido
            </small>
        </div>

    </div>
    <div class="field col-12 md:col-4">

        <div class="p-float-label p-fluid">
            <p-multiSelect appendTo="body" [showHeader]="false" [options]="productos"  placeholder="Seleccione..." class="w-full" formControlName="productos" optionLabel="producto">
            </p-multiSelect>
            <label>Productos</label>
        </div>
        <div *ngIf="this.productosControl.invalid && (this.productosControl.touched || this.productosControl.dirty)"
            class="p-error block">
            <small>
                El campo es requerido
            </small>
        </div>

    </div>
    <div class="field col-12 mt-3">
        <div class="p-inputgroup w-full">
            <span class="p-inputgroup-addon"><em class="pi pi-user"></em></span>
            <div class="p-float-label">
                <textarea pInputTextarea formControlName="descripcion"></textarea>
                <label>Descripción</label>
            </div>
        </div>
    </div>
    <div class="col-12 flex flex-row justify-content-center">
        <button *ngIf="this.banderaEstaEditando" pButton (click)="editarCuentaCobro()"
            [disabled]="!this.formulario.valid">Editar</button>
        <button *ngIf="!this.banderaEstaEditando" pButton (click)="agregarCuentaCobro()"
            [disabled]="!this.formulario.valid">Crear</button>
    </div>
</form>